<!-- /* Name: businesses.ejs */
/* Author: Zac Force */
/* Website Name: Business Directory */
/* File Description: displays all of the businesses in a list and allows users to add, edit and delete them */ -->

<% include partials/header.ejs %>

<!-- display the businesses created in a table -->
<div class="w3-padding-64">
  <h1><%= title %></h1>
</div>
<a href="/businesses/add">Add a Business</a>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Year Established</th>
    <th>Type of Business</th>
    <th>Provides Free Wifi</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <!-- loop through the business table in the db for all of the businesses in the collection -->
  <% for (var i=0; i < businesses.length; i++) { %>
    <tr>
      <td><%= businesses[i].name %></td>
      <td><%= businesses[i].owner %></td>
      <td><%= businesses[i].year %></td>
      <td><%= businesses[i].bType %></td>
      <td><%= businesses[i].wifi %></td>
      <td><a href="/businesses/<%= businesses[i]._id %>">Edit</a></td>
      <td><a href="/businesses/delete/<%= businesses[i]._id %>" class="confirmation">Delete</a></td>
  </tr>
  <% } %>
</table>
<% include partials/footer.ejs %>